.Card {
  display: inline-flex;
  justify-content: space-around;
  padding: 30px 20px 0;
  max-width: 935px;
}

.cards-image {
  width: 293px;
  height: 293px;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #c1c1c1;
}

.skeleton.img {
  width: 293px;
  height: 293px;
}

.skeleton::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color ne marche pas */
  background: linear-gradient(
    to right,
    transparent 0%,
    #dedede 50%,
    transparent 100%
  );
  transform: translateX(-100%);
  animation: loading 1s infinite;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

/* @keyframes loading {
  from {
      left: -150px;
  }
  to   {
      left: 100%;
  }
} */


.slider-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-slider {
  width: 935px;
  display: flex;
  align-items: center;
  margin: auto;
}

.cards-slider-image {
  width: 600px;
  height: 600px;
}

.card-text {
  width: 335px;
  height: 600px;
  background-color: #fff;
}

.card-header-text {
  height: 60px;
  border-bottom: 1px solid lightgray;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .Card {
    padding: 0;
  }

  .cards-image {
    width: 128px;
    height: 128px;
  }
}
