.profil-container {
  padding: 1.5rem;
  position: relative;
}

.divProfil {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin: 0 5rem;
}

.profil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.desc-container {
  display: grid;
  text-align: start;
}

.profil-container,
.divProfil,
.follow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow {
  margin-left: -4.5rem;
}

.span-profil {
  font-weight: bold;
  margin-left: 3rem;
}

.profil-name {
  display: flex;
  align-items: center;
}

.follow-me,
.select,
.btn-ellipsis {
  height: 30px;
  background-color: #0095f6;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.follow-me {
  width: 210px;
}

.select {
  width: 34px;
  margin-left: 0px;
}

.chevron {
  font-size: xx-small;
}

.desc-name {
  font-size: 16px;
  line-height: 24px;
  word-wrap: break-word;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .profil-container {
    display: inline-flex;
  }

  .divProfil {
    position: fixed;
    top: 75px;
    left: -60px;
    width: 77px;
    height: 77px;
  }

  .profil {
    position: absolute;
    width: 77px;
    height: 77px;
  }

  .profil-description {
    margin-bottom: 3rem;
  }

  .profil-header,
  .profil-name,
  .follow {
    width: 500px;
  }

  .btn-profil {
    display: flex;
  }

  .profil-name {
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 50px;
  }

  .profil-desc {
    margin-top: 2.5rem;
  }

  .follow {
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
    border-bottom: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  }
  
  .desc-name {
    margin-top: 1rem;
  }
}
