.profil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: relative;
}

.divProfil {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  margin-left: 1.5rem;
}

.profil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.divProfil,
.follow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-profil {
  font-weight: bold;
  margin-left: 3rem;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  .divProfil {
    position: absolute;
    top: 25px;
    left: -7px;
    width: 95px;
    height: 95px;
  }

  .profil {
    position: absolute;
    width: 91px;
    height: 91px;
  }
}
